.intest{
    height: 200px;
    width: 90%;
    background-color: white;
    margin: 40px;
    justify-content: center;
    border-radius: 1rem;
}
.longintest{
    height: 200px;
    width: 90%;
    background-color: white;
    margin: 40px;
    justify-content: center;
    border-radius: 1rem;
}
.testim{
    display: grid;
    grid-template-columns: 50% 50%;
}